@import url('https://fonts.googleapis.com/css?family=Inconsolata|Quicksand:400,500,600,700&display=swap');

body{
    font-family: $primary-font;
}

h1{
    font-family: $primary-font;
    font-weight: 700;
}

h2{
    font-family: $secondary-font;
}

h3{
    font-family: $primary-font;
}

h4{
    font-family: $primary-font;
}

p{
    font-family: $secondary-font;
}

a{
    font-family: $primary-font;
}